
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareSphere</title>

    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/textpost.css">
    <link rel="stylesheet" href="../css/photopost.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>

    <header>
        <div class="navbar">
            <div class="logo">
              <button class="logo" style="font-size: 24px; background-color: transparent; border: none;" href="/"></i><span>SP</span></button>
            </div>

            <div class="access">

                <button class="optionnv" href="/"><i class="bi bi-house-fill"></i><span>Feed</span></button>
                <button class="optionnv" href="/about"><i class="bi bi-search-heart-fill"></i><span>Explore</span></button>
                <button class="optionnv" href="/"><i class="bi bi-trophy-fill"></i><span>Contest</span></button>
                <button class="optionnv" href="/"><i class="bi bi-person-circle"></i><span>Perfil</span></button>
                
                <br /><br /><br /><br /><br><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <button class="optionnv" href="/"><i class="bi bi-gear-wide-connected"></i><span>Settings</span></button>
            </div>
            
        </div>
    </header>
    
    <div class="main">
        <div class="feedhead">
          <h1>ShareSphere</h1>
          <i class="bi bi-app-indicator"></i>
        </div>

        <br /><br /><br /><br /><br /><br />


        <div class="upload">
          <form action="#" method="post">
            <input type="text" class="uploadtext" placeholder="¿Qué estás pensando?" />
            <button class="button">Upload</button>
          </form>
        </div>



        <div class="Post">
  
          <div class="leftside">
  
            <div class="postheader">

              <div class="themename">
                <h1>Theme</h1>
              </div>
              
              <div class="user">

                <div class="photouser">
                  <form action="#" method="post">
                    <input
                      type="image"
                      src="https://img.freepik.com/foto-gratis/joven-barbudo-camisa-rayas_273609-5677.jpg?w=740&t=st=1702678697~exp=1702679297~hmac=c54395be72f5a4c41e214867636a5cc62b7244b9da21862a94571399b52a2953"
                      alt="Texto Alternativo"/>
                  </form>
                </div>

                <div class="postdatos">
                  <div class="name">
                    <h1>Name</h1>
                  </div>
                  <div class="options">
                    <button class="btn btn-light" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-fill"></i> Editar</a></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-trash-fill"></i> Eliminar</a></li>                    </ul>
                  </div>
                </div>
                
              </div>
            </div>
  
            <div class="textpost">
              
              <div class="texto">
                <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, aperiam consequatur quis dolorum, vitae adipisci vel excepturi quas rerum sint molestias molestiae. Beatae minus a id. Iure harum molestias doloribus?</h1>
              </div>

              <div class="RLC">
                <div class="resumen">
                  <p>10,000 Likes</p>
                  <p>10,000 Comentarios</p>
                </div>
                <div class="reactions">
                  <button className="btn btn-primary"><i class="bi bi-star"></i></button>
                  <button className="btn btn-secondary"><i class="bi bi-chat"></i></button>
                </div>
              </div>
              
            </div>
  
          </div>

  
        </div>




        <div class="Post">
  
          <div class="leftside">
  
            <div class="postheader">

              <div class="themename">
                <h1>Theme</h1>
              </div>
              
              <div class="user">
                <div class="photouser">
                  <form action="#" method="post">
                    <input
                      type="image"
                      src="https://img.freepik.com/foto-gratis/joven-barbudo-camisa-rayas_273609-5677.jpg?w=740&t=st=1702678697~exp=1702679297~hmac=c54395be72f5a4c41e214867636a5cc62b7244b9da21862a94571399b52a2953"
                      alt="Texto Alternativo"/>
                  </form>
                </div>

                <div class="postdatos">
                  <div class="name">
                    <h1>Name</h1>
                  </div>
                  <div class="options">
                    <button class="btn btn-light" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-fill"></i> Editar</a></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-trash-fill"></i> Eliminar</a></li>
                    </ul>
                  </div>
                </div>
                
              </div>
            </div>
  
            <div class="photopost">
              <img src="https://i.pinimg.com/originals/d1/46/c6/d146c6f891e3464d5544d15eaaff7661.jpg" alt="#" />
              
              <div class="RLC">
                <div class="resumen">
                  <p>10,000 Likes</p>
                  <p>10,000 Comentarios</p>
                </div>
                <div class="reactions">
                  <button className="btn btn-primary"><i class="bi bi-star"></i></button>
                  <button className="btn btn-secondary"><i class="bi bi-chat"></i></button>
                </div>
              </div>
              
            </div>
  
          </div>
  
          <div class="rightside">
            <div class="description">
                <h1>DESCRIPTION</h1>
                <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, aperiam consequatur quis dolorum, vitae adipisci vel excepturi quas rerum sint molestias molestiae. Beatae minus a id. Iure harum molestias doloribus?</h1>
              </div>
          </div>
          
  
        </div>





        

      </div>

</body>
</html>