body {
  background-color: rgba(39, 39, 39, 0.773);
}

/* NAVBAR */
.navbar {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.119);
  position: fixed;
  width: 8%;
  height: 90%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  box-shadow: 0 0px 20px #000000ac;
  transition: width 0.5s;
  border-radius: 20px;
  margin: 2%;
  z-index: 1;
}

.navbar:hover {
  text-decoration: none;
  box-shadow: 0 0px 20px rgb(0, 0, 0);
}

.navbar .logo {
  text-decoration: none;
  color: hsl(175, 100%, 51%);
  width: auto;
  height: auto;
  font-size: 200%;
  margin-bottom: 5%;
  transition: 500ms;
}

.navbar .logo img {
  text-decoration: none;
  position: fixed;
  margin-left: -2.5%;
  margin-top: 0%;
  width: 5%;
  height: 9%;
  transition: 500ms;
}

.navbar .logo img:hover {
  text-decoration: none;
  box-shadow: 0 0px 10px hsl(175, 100%, 51%);
  border-radius: 51%;
  transition: 500ms;
}

.navbar .logo:hover {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  text-shadow: 0 0 10px hsl(175, 100%, 51%);
  transition: 500ms;
}

.optionnv span {
  text-decoration: none;
  visibility: hidden;
}

.optionnv i {
  text-decoration: none;
  margin-left: 25%;
  margin-right: 2%;
  font-size: 350%;
  transition: margin-left 0.5s;
}

.optionnv {
  width: 100%;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.532);
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  transition: 500ms;
}

.optionnv:hover {
  text-decoration: none;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  transition: 500ms;
}

.optionnv span {
  text-decoration: none;
  visibility: hidden;
}

button:hover {
  text-decoration: none;
  cursor: pointer;
}
.navbar:hover {
  text-decoration: none;
  width: 10.5%;
}

.optionnv:hover i {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  margin-left: 10%;
  transition: 500ms;
}
.optionnv:hover span {
  visibility: visible;
}

.logout {
  text-decoration: none;
  color: white;
}

.botonimg {
  background-color: transparent;
  text-align: center;
  align-items: center;
  display: block;
  width: 100%;
  margin-top: 10%;
}

.botonimgs {
  border: none;
  background-color: transparent;
  margin: auto;
  width: 80%;
  margin-bottom: 10%;
  transition: 500ms;
}

.botonimgs img {
  width: 60%;
  height: 60%;
  transition: 500ms;
}

.botonimgs img:hover {
  width: 70%;
  height: 70%;
  box-shadow: 0 0 30px rgb(0, 0, 0);
  transition: 500ms;
}

/* MAIN */

.content {
  background-color: transparent;
  margin-left: 15%;
  width: 80%;
  height: 90vh;
}

.top {
  text-align: center;
  margin: auto;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-bottom: 1px solid white;
}

.content h1 {
  margin-top: 2%;
  font-weight: bold;
}

.container {
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Establece 3 columnas de igual tamaño */
  grid-gap: 30px; /* Solo un valor para el espacio entre elementos */
  transition: 0.5s;
}

.postscont {
  text-align: center;
  box-shadow: 1px 15px 30px rgba(0, 0, 0, 0.708);
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid hsla(0, 0%, 100%, 0.343);
  background-color: rgba(55, 55, 55, 0.243);
  padding: 5%;
  transition: 1s;
  color: hsla(0, 0%, 100%, 0.56);
  font-size: 160%;
  height: 50vh;
}
.postscont:hover {
  background-color: rgba(255, 255, 255, 0.243);
}

.postscont .titulo {
  font-size: 5vh;
  color: white;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.contador .iconcont {
  width: 100%;
  height: 100%;
  font-size: 650%;
  color: white;
}

.postscont .numero {
  margin: 0;
  font-size: 3vh;
  color: white;
  display: inline-block;
}

.iconcont i {
  transition: 500ms;
}
.postscont:hover i {
  color: aqua;
  transition: 500ms;
}

.postscont:hover .bi-person-lines-fill {
  color: rgb(255, 238, 129);
  transition: 500ms;
}

.postscont:hover .bi-flag {
  color: rgb(250, 107, 107);
  transition: 500ms;
}
