html {
  background-color: #f2f2f2; /* Fondo claro */
  font-family: "Roboto", sans-serif;
  transition: 500ms;
}

body {
  background-color: #f2f2f2; /* Fondo claro */
  font-family: "Roboto", sans-serif;
  transition: 500ms;
}

.filtros {
  border: 1px solid rgba(0, 0, 0, 0.084);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0);
  background-color: #d4d4d4;
  color: white;
  transition: 500ms;
}
.logout {
  text-decoration: none;
  color: #3d3d3d;
  transition: 500ms;
}
.navbar {
  border: 1px solid rgba(0, 0, 0, 0.084);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0);
  background-color: #d4d4d4;
  transition: 500ms;
}
.optionnv {
  color: #000000;
  transition: 500ms;
}

.optionnv:hover {
  color: #ffffff23;
  transition: 500ms;
}

.feedhead {
  box-shadow: 0px 30px 30px -30px rgba(0, 0, 0, 0); /* Cambio en esta línea */
  color: #333; /* Texto oscuro */
  background-color: rgb(242, 242, 242); /* Fondo */
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.204); /* Borde claro */
  transition: 500ms;
}

.feedhead h1 {
  color: #000000; /* Color de texto*/
  transition: 500ms;
}

.feedhead button {
  color: #333; /* Texto oscuro */
}

.feedhead i:hover {
  color: #000000; /* Color de texto */
}

.feedhead input[type="image"] {
  border: 1px solid black;
}

.search-nav input[type="text"] {
  color: #333; /* Texto oscuro */
  background-color: #ffffff23;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.search-nav input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.5); /* Texto de marcador de posición oscuro */
}

.feedhead  i.bi.bi-box-arrow-right {
  color: black;
}

.upload {
  color: #333; /* Texto oscuro */
  background-color: #d4d4d4b6;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0);
  border: 1px solid #00000022;
}

.upload:hover ::placeholder {
  color: #07070755; /* Color de texto */
}

.upload:hover {
  box-shadow: 0 0px 20px #5cb1a2; /* Sombra con color de texto azul */
}

.upload button {
  color: #000000; /* Color de texto */
  border-left: 1px solid rgba(0, 0, 0, 0.1); /* Borde claro */
}

.upload button:hover {
  color: #5cb1a2; /* Color de texto azul más oscuro */
}

.containerfiltros h1 {
  color: #000000;
}

.post-container {
  box-shadow: none;
  background-color: #d4d4d4;
}

.post-container:hover {
  box-shadow: none;
  background-color: #979797;
}

.user-info {
  color: #000000;
}

.post-content {
  color: #333; /* Texto oscuro */
}

.SubTitle {
  color: #333; /* Texto oscuro */
}

.description {
  color: #333; /* Texto oscuro */
}

.image-container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.127);
}

#theme-toggle-btn {
  background-color: #67a19b; /* Color de fondo para el modo claro */
  color: #ffffff; /* Color del texto para el modo claro */
}

#theme-toggle-btn:hover {
  background-color: #2c4f49;
}

.toTop {
  background-color: #5cb1a2;
  color: #ffff;
}



/* NOTIFICATIONS */
.notificaciones-menu {
  display: none;
  position: absolute;
  width: 30%;
  height: 80vh;
  top: 10vh; /* Ajusta la posición según tu diseño */
  left: 65%; /* Ajusta la posición según tu diseño */
  background-color: rgba(0, 0, 0, 0.382);
  color: white;
  font-weight: bold;
  border: 1px solid #ffffffc0;
  padding: 10px;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  box-shadow: 0 0 50px black;
}

.notificacion {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.notificacion img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid white;
}

.hidden {
  display: none;
}

.delete-notification-btn{
  position: absolute;
  margin-top: -13%;
  margin-left: 60%;
  border: 1px solid white !important;
  width: 100px !important;
  height: 35px !important;
  background-color: #5cb1a2 !important;
  color: white !important;
  font-size: 20px !important;
  border-radius: 10px;
}