html {
    background-color: #f2f2f2; /* Fondo claro */
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f2f2f2; /* Fondo claro */
    font-family: 'Roboto', sans-serif;
}

.feedhead {
    color: #333; /* Texto oscuro */
    background-color: #f2f2f2; /* Fondo claro */
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1); /* Borde claro */
}

.feedhead h1 {
    color: #000000; /* Color de texto*/
}

.feedhead button {
    color: #333; /* Texto oscuro */
}

.feedhead i:hover {
    color: #000000; /* Color de texto */
}

.feedhead input[type="image"] {
    border: 1px solid black;
}

.search-nav input[type="text"] {
   
    color: #333; /* Texto oscuro */
    background-color: #ffffff23;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.search-nav input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.5); /* Texto de marcador de posición oscuro */
}

.upload {
    color: #333; /* Texto oscuro */
    background-color: #ffffff23;
    box-shadow: 0 0px 20px black;
   
}

.upload:hover ::placeholder {
    color: #070707; /* Color de texto */
}

.upload:hover {
    box-shadow: 0 0px 20px rgba(0, 123, 255, 0.5); /* Sombra con color de texto azul */
}

.upload button {
    color: #000000; /* Color de texto */
    border-left: 1px solid rgba(0, 0, 0, 0.1); /* Borde claro */
}

.upload button:hover {
    color: #0059b7; /* Color de texto azul más oscuro */
   
}

.containerfiltros h1{
    color: #000000;
}

.post-container {
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
    background-color: rgba(165, 165, 165, 0.422);
    border: 1px solid rgba(255, 255, 255, 0.194);
}

.post-container:hover {
    background-color: rgb(183, 183, 183);
}

.user-info {
    color: #000000;
  
}

.action-btn {
    background-color: white;
}

.action-btn:hover {
    background-color: #888888;
}

.post-content {
    color: #333; /* Texto oscuro */
}

.SubTitle {
    color: #333; /* Texto oscuro */
}

.description {
    color: #333; /* Texto oscuro */
}

.post-actions button {
    background-color: #000000; /* Color de texto */
    color: #fff;
}

.post-actions button:hover {
    background-color: #0059b7; /* Color de texto azul más oscuro */
}

#theme-toggle-btn {
    background-color: #5f5f5f; /* Color de fondo para el modo claro */
    color: #ffffff; /* Color del texto para el modo claro */
}   

#theme-toggle-btn:hover{
    background-color: rgb(38, 52, 142);
}