html{
    background-color: #000000;
}

.header {
    position: static;
    width: auto;
    height: auto;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1%;
    align-items: center;
    z-index: 99;
}

.header .nav .logo
{
    margin-top: 5px;
    margin-left: 20px;
    color: #ffffff;
    font-size: 40px;
    z-index: 98;
}

.header .nav {
    padding-right: 2%;
    width: 100%;
    display: flex;
    gap: 20px;
    z-index: 999;
}

.menu{
    text-align: end;
    width: 100%;
    height: 70px;
    padding-top: 10px;
}

.menu a{
    margin-right: 2%;
    text-align: end;
    text-decoration: none;
    color: #ffffffcc;
    transition: 300ms;
}


.header .nav a:hover {
    text-shadow: 0 0 20px rgba(255, 204, 255, 0.8);
    outline: none;
    color: #fed6ff;
    background: transparent;
    transition: 300ms;
}

.header .search i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--Fprimaria);
    cursor: pointer;
}


::placeholder
{
    padding-top: 1000px;
    color: var(--Fprimaria);
    font-size: 18px;
    transition: 300ms;
}
::placeholder:active
{
    box-shadow: 0 0 50px rgba(232, 232, 232, 0.8);
    transition: 300ms;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    .header .nav {
        margin-top: 10px;
    }

    .header .search {
        margin-top: 10px;
    }
}

.home
{
    position: absolute;
    width: 100%;
    top: -10px;
    height: 100%;
    transform: translate(-50% , - 50%);
    background-position: center;
    background-size: cover;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    border: none;
}


/* TEXTO IZQUIERDA */

.content {
    background-color: #1f1a17;
    width: 60%;
    height: 100%;
    font-size: 20px;
    display: flex; /* Establece el contenedor como un contenedor flexible */
    flex-direction: column; /* Establece la dirección de los elementos hijos a columnas */
    padding: 0; /* Asegúrate de que no haya relleno interno */
    background-size: cover; /* Escala la imagen para cubrir completamente el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen dentro del contenedor */
    z-index: 1;
}


.content h2
{
    margin-top: 1%;
    padding-left: 7%;
    width: 90%;
    padding-top: 30%;
    font-weight: 100;
    font-size: 350%;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
    transition: 500ms;
}

.content h2:hover{
    text-shadow: 0px 0px 50px rgb(255, 255, 255);
    transition: 500ms;
}

.content pre
{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: -5%;
    width: 90%;
    text-align: center;
    font-size: 100%;
    color: #ffffff;
    text-shadow: 0px 0px 50px rgb(255, 255, 255);
}


.content::before {
    content: "";
    background-image: url('https://cdn.dribbble.com/users/4835348/screenshots/16712964/media/f076cfebf1389f8b8aeee7c5b96b0780.png?resize=768x576&vertical=center');
    background-size:cover;
    background-position: center;
    width: 55%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}




/* BOX DE LOGIN */

/* Este .div es para agregar marcos responsivos al box */
div.login
{
    margin-top: 0%;
    background-color: #393939e2;
    width: 50%;
    height: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.login
{
    text-align: center;
    position: relative;
    backdrop-filter: blur(30px);
}

.login h2
{
    padding-top: 30%;
    font-weight: 100;
    margin-top: 0%;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.login .input
{
    width: 70%;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    height:  30px;
    margin-bottom: 40px;
}

.login .input .input1
{
    margin-left: 8%;
    margin-right: 8%;
    width: 100%;
    padding: 2%;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #cbcaca7a;
    border: black;
    outline: black;
    border-bottom: 2px solid #ffffff;
    color: var(--Fprimaria);
    height: 100%;
    transition: 500ms;
}
.login .input .input1:hover
{
    box-shadow: 0 0 50px rgba(233, 183, 255, 0.8);
    transition: 500ms;
}

::placeholder
{
    padding-top: 0;
    color: #f5fffd79;
    font-size: 18px;
}
::placeholder:active
{
    box-shadow: 0 0 50px rgba(179, 255, 184, 0.8);
}

.login .input i
{
    position:absolute;
    right: 10%;
    bottom: 27px;
    color: #f7dac0;
}

.check
{
    position: relative;
    margin-top: -10px;
    justify-content: space-between;
    margin-bottom: 40px;
    color: #f7dac0;
    transition: 500ms;
}
.check a:hover
{
    text-decoration: underline;
    box-shadow: 0 0 50px rgba(232, 232, 232, 0.8);
    transition: 500ms;
}

.login span
{
    color: #6ce9ff;
}
.aRegister{
    font-weight: 700;
    color: #c2f7ff;
    margin-bottom: 15px;
    transition: 300ms;
}

.aRegister:hover{
    text-shadow: 0 0px 20px rgb(255, 255, 255);
    font-size: 3vh;
    transition: 300ms;
}

.login .button
{
    color: #f7dac0;
    margin-top: 25px;
    width: 100%;
    height: 10%;
}

button
{
    width: 70%;
    height: 50px;
    background-color: #e3e342;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 100;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    transition: 500ms;
}

.btn:hover{
    transition: 350ms;
    background-color: rgb(233, 174, 255);
    color: #000000;
    border: 2px solid #ffffff;
    cursor: pointer;
    box-shadow: 0 0px 20px rgb(255, 255, 255);
    transition: 500ms;
}
