html {
    width: 100%;
    height: auto;
    background-color: rgb(37, 37, 37);
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.main {
    background-color: transparent;
    margin-left: 13%;
    width: auto;
}

/* FEEDHEAD*/
.feedhead {
    color:rgba(255, 255, 255, 0.77);
    z-index: 999;
    position: fixed;
    width: 83%;
    max-width: 83%;
    height: auto;
    max-height: 12%;
    min-height: 10%;
    margin-top: -1%;
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 37);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.422);

}

.feedhead h1 {
    margin-top: 2%;
    font-size: 200%;
    size-adjust: 150%;
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    text-align: center;
    margin-left: 3%;
    margin-right: 10%;
    color: hsl(175, 100%, 51%);
}

.feedhead a {
    margin-left: 5%;
    transition: 500ms;
}

.feedhead a:hover {
    color: aqua;
    transition: 500ms;
}

.feedhead i {
    display: flex;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 1%;
    font-size: 200%;
    transition: 300ms;
}

.feedhead  i.bi.bi-box-arrow-right {
    margin-left: 35%;
    font-size: 400%;
}

.feedhead button{
    font-size: 150%;
    background-color: transparent;
    border: none;
    color: white;
    margin-left: 0%;
}

.feedhead i:hover{
    background-color: transparent;
    color: hsl(175, 100%, 51%);
    text-shadow: 0 0px 30px rgb(0, 0, 0);
    cursor: pointer;
    transition: 500ms;
}

.feedhead input[type="image"] {
    width: 5vh;
    max-height: 6vh;
    min-height: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: 1px solid black;
    transition: 500ms;
}
.feedhead input[type="image"]:hover {
    width: 6vh;
    height: 6vh;
    transition: 500ms;
    text-shadow: 0 0px 30px rgb(0, 0, 0);
}

/* BUSCADOR */
.search-nav {
    display: flex;
    align-items: center;
    margin-right: -10%;
    width: 50%;
    max-width: 50%;
  }
  
  .search-nav form {
    width: 100%;
    max-width: 100%;
    min-width: 90%;
    display: flex;
    align-items: center;
  }
  
  .search-nav input[type="text"] {
    width: 60%;
    max-width: 60%;
    min-width: 50%;
    height: 4vh;
    max-height: 4vh;
    margin-top: 4px;
    color: white;
    background-color: #ffffff23;
    padding: 8px;
    border: 1px solid #ccc;
    border: none;
    border-radius: 20px;
  }
  .search-nav input[type="text"]::placeholder{
    color: rgba(255, 255, 255, 0.43);
    background-color: transparent;
    padding: 8px;
    border-radius: 4px;
  }


.feed {
    color: white;
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 2%;
}

/* UPLOAD */
.upload {
    color: white;
    background-color: #ffffff23;
    width: 50%;
    height: 12%;
    margin-left: 7%;
    box-shadow: 0 0px 20px black;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    transition: 300ms;
    margin-top: 0%;
}

.upload:hover ::placeholder{
    color:  hsla(175, 100%, 50%, 0.484);
}

.upload:hover{
    box-shadow: 0 0px 20px hsla(175, 100%, 51%, 0.523);
    transition: 300ms;
}

.upload form {
    width: 100%;
    display: flex;
}

.upload input {
    flex: 0 0 75%; 
    padding: 1em;
    background-color: transparent;
    border: none;
}

.upload button {
    color: rgba(255, 255, 255, 0.557);
    flex: 0 0 10%; 
    background-color: transparent;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.644);
    padding-left: 2vh;
    padding-right: 3.5vh;
    padding-top: 4%;
    padding-bottom: 4%;

}

.upload button:hover {
    color:  hsl(175, 100%, 51%);
    background-color: transparent;
    cursor: pointer;
}

/* RESUMEN Y REACCIONES */
.RLC {
    border-top: 1px solid rgba(255, 255, 255, 0.594);
    margin-top: 3%;
    padding-top: 2%;
    background-color: transparent;
    display: flex;
    margin-right: 0%;
    justify-content: space-between;
    width: 100%;
}

.RLC .resumen {
    background-color: transparent;
    width: 70%;
    display: flex;
}

.RLC .resumen p {
    background-color: transparent;
    display: flex;
    padding-right: 2%;
    font-size: 100%;
}

.RLC .reactions {
    background-color: transparent;
    margin-left: 30vh;
    display: flex;
    width: 30%;
    margin-bottom: 1%;
    transition: 300ms;
}

.reactions button,
.reactions i {
    width: auto;
    font-size: 140%;
    color: white;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: 300ms;
}

.reactions i.bi.bi-star:hover{
    background-color: transparent;
    color: rgb(179, 75, 137);
    text-shadow: 0 0 12px rgb(255, 0, 0);
    transition: 300ms;
}

.reactions i.bi.bi-chat:hover{
    background-color: transparent;
    color: rgb(42, 132, 171);
    text-shadow: 0 0 10px rgb(0, 251, 255);
    transition: 300ms;
}


.post-container {
    width: 50%;
    left: 16%;
    margin: 20px auto;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(37, 37, 37);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.422);
    cursor: pointer;
    transition: background-color 0.3s;
}

.post-container:hover{
    background-color: rgb(64, 64, 64);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.user-info {
    color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    left: 3%;
    top: 2%;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-options {
    display: flex;
    justify-content: flex-end;
}

.action-btn {
    padding: 8px 12px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-btn:hover {
    background-color: #888888;
}

.post-content {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}

.SubTitle{
    color: #fff;

    text-align: center;
    font-size: 1em;
    margin-top: -2%;
}

.description{
    color: #fff;
    text-align: start;
    margin: 15px 35px 20px;
}

.image-container {
    max-width: 100%;
    height: 250px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    display: block;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    justify-content: start;
    align-items: center;
    padding: 15px;
}

.post-actions button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 2%;
    transition: transform 0.3s ease;
}

.post-actions button:hover {
    background-color: #0059b7;
    transform: scale(1.2);
}

.counters {
    display: flex;
}

.likes{
    color: #fff;

    position: absolute;
    left: 65%;
}

.comments{
    color: #fff;
    position: absolute;
    left: 80%;
}

/* Botón Subir */
.toTop {
    border: none;
    display: flex;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
    position: fixed; right: 1rem; bottom: 1rem; z-index: 9999;
  }
  
  .toTop:not(.is-visible) {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-2rem);
  }
  
  .toTop svg {
    stroke-width: 3px;
    stroke: currentColor;
    fill: none;
    width: 24px;
  }
  
  .toTop {
    background-color: #252525;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 0.75rem;
    color: #fff;
  }