html {
    width: 100%;
    height: auto;
    background-color: rgb(229, 228, 228);
}

body{
    background-color: rgb(229, 228, 228);
    overflow-x: hidden;
}

.main {
    background-color: rgb(229, 228, 228);
    margin-left: 13%;
    width: auto;
}

.feedhead {
    z-index: 999;
    position: fixed;
    width: 83%;
    margin-top: -1%;
    display: flex;
    align-items: center;
    background-color: rgb(229, 228, 228);
    border-bottom: 1px solid black;

}

.feedhead h1 {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

.feedhead i {
    margin-top: 0.5vh;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 4.5vh;
    transition: 300ms;
}

.feedhead i:hover{
    background-color: transparent;
    color: rgb(171, 0, 0);
    text-shadow: 0 0px 20px rgb(255, 21, 0);
    transition: 300ms;
}

.feed {
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 2%;
}

/* UPLOAD */
.upload {
    width: 50%;
    height: 10vh;
    margin-left: 10%;
    box-shadow: 0 0px 20px black;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    transition: 300ms;
}

.upload:hover{
    box-shadow: 0 0px 20px rgb(200, 140, 0);
    transition: 300ms;
}

.upload form {
    width: 100%;
    display: flex;
}

.upload input {
    flex: 0 0 75%; /* Anchura del input al 60% */
    padding: 1em; /* Ajusta el padding según sea necesario */
    background-color: transparent;
    border: none;
}

.upload button {
    flex: 0 0 10%; /* Anchura del botón al 40% */
    background-color: transparent;
    border: none;
    border-left: 1px solid black;
    padding-left: 2vh;
    padding-right: 3.5vh;
    padding-top: 5%;
    padding-bottom: 5%;

}

.upload button:hover {
    color: rgb(177, 59, 0);
    background-color: rgba(255, 145, 0, 0.399);
    box-shadow: 0 0 40px rgb(255, 157, 0);
    cursor: pointer;
}



/* HEADER-POST */
.Post{
    border-bottom: 1px solid rgba(0, 0, 0, 0.296);
    display: flex;
    padding-top: 3%;
    padding-left: 5%;
    margin-left: 4%;
    margin-right: 4%;
    width: 60%;
    margin-top: 4%;
    margin-bottom: 2%;
    border-radius:20px;
    box-shadow: 0 0px 15px black;
    transition: 300ms;
}

.Post:hover{
    box-shadow: 0 0px 30px rgb(0, 0, 0);
    background-color: rgb(205, 205, 205);
    transition: 300ms;
}

/* LEFTSIDE */
.Post .leftside{
    width: 90%;
    height: auto;
    padding-bottom: 2%;
}

.postheader{
    margin-bottom: 2%;
}

.postheader .user{
    margin-bottom: 2%;
    height: 50%;
    display: flex;
}

.postheader input[type="image"] {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    border: 1px solid black;
}


/* THEME NAME */
.postheader .themename h1{
    font-size: 3vh;

}

/* NAME */
.user .name{
    height: 50%;

}
.user .name h1{
    font-size: 3vh;
    margin: 0%;
    margin-top: 1%;
    height: 50%;
    padding-left: 10%;
}

.user .fechapost h1{
    font-size: 3vh;
}

/* OPTIONS */
.options button {
    position: absolute;
    background-color: transparent;
    border: none;
    margin-left: 75vh;
    margin-top: -10vh;
    font-size: 5vh;
}

.options .dropdown-menu {
    width: 10%;
    height: auto;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.147);
    box-shadow: 0 0px 30px rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: inherit;
    list-style: none;
    border: none;
    margin-left: 75vh;
    margin-top: -10vh;
    padding: 2vh;
}

.options .dropdown-menu li {
    margin-bottom: 10px; /* Agrega separación entre elementos de la lista */
}
.options .dropdown-menu li a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: black; /* Hereda el color del texto de su contenedor */
}

.options .dropdown-menu li a:hover {
    text-decoration: none; /* Quita el subrayado al pasar el cursor sobre los enlaces */
    color: white; /* Hereda el color del texto de su contenedor */
}

.options:hover .dropdown-menu {
    display: block;
}



/* RESUMEN Y REACCIONES */
.RLC {
    background-color: transparent;
    display: flex;
    margin-right: 0%;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    width: 100%;
}

.RLC .resumen {
    background-color: transparent;
    width: 60%;
    display: flex;
}

.RLC .resumen p {
    background-color: transparent;
    display: flex;
    padding-right: 2%;
    font-size: 100%;
}

.RLC .reactions {
    background-color: transparent;
    margin-left: 30vh;
    display: flex;
    width: 30%;
    margin-bottom: 1%;
    transition: 300ms;
}

.reactions button,
.reactions i {
    width: auto;
    font-size: 150%;
    color: black;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: 300ms;
}

.reactions i.bi.bi-star:hover{
    background-color: transparent;
    color: rgb(179, 75, 137);
    text-shadow: 0 0 12px rgb(255, 0, 0);
    transition: 300ms;
}

.reactions i.bi.bi-chat:hover{
    background-color: transparent;
    color: rgb(42, 132, 171);
    text-shadow: 0 0 10px rgb(0, 251, 255);
    transition: 300ms;
}

