.modaledit {
  color: white;
  align-items: center;
  text-align: center;
  z-index: 9999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: 500ms;
}

.modal-content-edit {
  background-color: #3e3e3e;
  width: 40%;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  transition: 500ms;
}

.close-edit {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-edit:hover,
.close-edit:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos del formulario dentro del modal */

.modal-content-edit label {
  position: relative;
  text-align: center;
  left: 20%;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-content-edit input {
  color: white;
  position: relative;
  text-align: center;
  left: 20%;
  margin-bottom: 15px;
  margin-top: 1%;
  padding: 8px;
  border: none;
  border-radius: 20px;
  background-color: #00000087;
}

.modal-content-edit textarea {
  color: white;
  position: relative;
  text-align: center;
  left: 20%;
  width: 43%;
  top: 8px;
  margin-bottom: 15px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: #00000087;
}

.modal-content-edit select {
  color: #ccc;
  margin-bottom: 15px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: #00000087;
}

.modal-content-edit button {
  color: white;
  background-color: #21926c;
  padding: 4px;
  font-size: 100%;
  width: 50%;
  border-radius: 20px;
  padding: 1%;
}

.modal-content-edit button:hover {
  background-color: #2cc894;
  color: rgb(0, 0, 0);
  transition: 600ms;
}
.modal-content-edit img {
  position: absolute;
  max-width: 15%;
  max-height: 15%;
  top: 23%;
  left: 32%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 10px;
}
