
html{
    background-color: transparent;
}

.navbar {
    position: fixed;
    width: 6%;
    height: 90%;
    background-color: #817e7e4c;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    box-shadow: 0 0px 20px #000000ac;
    transition: width 0.5s;
    border-radius: 10px;
    margin: 2%;
    z-index: 999;
}
.navbar:hover{
    box-shadow: 0 0px 20px rgb(0, 0, 0);
}

.navbar .logo {
    color: hsla(48, 100%, 51%, 0.439);
    width: auto;
    height: auto;
    font-size: 200%;
    margin-bottom: 5%;
    transition: 500ms;
}

.navbar .logo img{
    position: fixed;
    margin-left: -2.5%;
    margin-top: -2%;
    width: 5%;
    height: 8%;
}

.navbar .logo img:hover{
    box-shadow: 0 0px 10px hsla(48, 100%, 51%, 0.593);
    border-radius: 51%;
}


.navbar .logo:hover{
    color: hsl(48, 100%, 51%);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    transition: 500ms;
}

.optionnv span{
    visibility: hidden;
}

.optionnv i {
    margin-left: 29%;
    margin-right: 2%;
    font-size: 350%;
    transition: margin-left 0.5s;
}

.optionnv {
    position: relative;
    overflow: hidden;
    color: #cacaca76;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.optionnv span {
    visibility: hidden;
}




/* HOVERS */
button:hover{
    cursor:pointer;
}
.navbar:hover {
    width: 10.5%;
}

.optionnv:hover i {
    color: #fff;
    margin-left: 2%;
    transition: 500ms;
}
.optionnv:hover span {
    visibility: visible;
}
