html{
    background-color: rgb(255, 255, 255);
}
body{
    background-color: rgba(0, 0, 0, 0.264);
}   


/* NAVBAR */
.navbar {
    background-color: #ffffff23;
    position: fixed;
    height: 35%;
    top: 15%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    border-radius: 20px;
    margin: 2%;
    z-index: 1;
}

.navbar .logo {
    text-decoration: none;
    color: #6de4bd;
    width: auto;
    height: auto;
    font-size: 200%;
    margin-bottom: 5%;
    transition: 500ms;
}

.navbar .logo img{
    position: fixed;
    margin-left: -2.5%;
    margin-top: 0%;
    height: 10%;
}

.navbar .logo img:hover{
    text-decoration: none;
    box-shadow: 0 0px 10px #6de4bd;
    border-radius: 51%;
}


.navbar .logo:hover{
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    text-shadow: 0 0 10px hsl(175, 100%, 51%);
    transition: 500ms;
}

.optionnv span{
    text-decoration: none;
    visibility: hidden;
}

.optionnv i {
    text-decoration: none;
    margin-left: 25%;
    margin-right: 2%;
    font-size: 350%;
    transition: margin-left 0.5s;
}

.optionnv {
    position: relative;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    transition: 500ms;
    top: 40%;
}

.optionnv:hover{
    font-weight: bold;
    color:  #ffffff23;
    transition: 500ms;
}

.optionnv span {
    text-decoration: none;
    visibility: hidden;
}

button:hover{
    text-decoration: none;
    cursor:pointer;
}
.navbar:hover {
    text-decoration: none;
    width: 10.5%;
}

.optionnv:hover i {
    text-decoration: none;
    color: #ffffff23;;
    margin-left: 2%;
    transition: 500ms;
}
.optionnv:hover span {
    visibility: visible;
}

.logout{
    text-decoration: none;
    color: white;
}

.botonimg{
    background-color: transparent;
    text-align: center;
    align-items: center;
    display: block;
    width: 100%;
    margin-top: 10%;
}

.botonimgs{
    border: none;
    background-color: transparent;
    margin: auto;
    width: 80%;
    margin-bottom: 10%;
    transition: 500ms;
}

.botonimgs img{
    width: 60%;
    height: 60%;
    transition: 500ms;
}

.botonimgs img:hover{
    width: 70%;
    height: 70%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.484);
    transition: 500ms;
}