html{
    font-size: inherit;
    background-color: rgb(37, 37, 37);
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: transparent;
}

.PerfilPage{
    width: 80%;
    margin-left: 5%;
    background-color: black;
    border-radius: 50px;
    border: none;
    transition: 500ms;
}

.PerfilPage:hover{
    box-shadow: 0 0 40px rgb(0, 0, 0);
    border-radius: 50px;
    border: none;
    transition: 500ms;
}

.PerfilPage .PerfilPortada img{
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.PerfilPage .PerfilPhoto img{
    position: absolute;
    margin-top: -22.6vh;
    margin-left: 1%;
    width: 20vh;
    height: 20vh;
    border-radius: 35%;
    border: 3px solid rgb(255, 255, 255);
}

.PerfilPage .PerfilPortada button{
    position:absolute;
    background-color: rgb(37, 37, 37);
    color: #fff;
    margin-left: -15vh;
    margin-top: 15vh;
    border-radius: 10px;
    z-index: 1;
    transition: 500ms;
}

.PerfilPage .PerfilPortada button:hover{
    box-shadow: 0 0 40px rgb(255, 255, 255);
    transition: 500ms;
}

.PerfilPage .PerfilName h1{
    position: absolute;
    font-size: 10vh;
    margin-top: -18vh;
    margin-left: 25vh;
    color: rgb(0, 0, 0);
    text-shadow: 1px  0px 0px rgb(255, 255, 255),
               0px  1px 0px white,
              -1px  0px 0px white,
               0px -1px 0px white;
}

.PerfilDescription h2{
    color: rgba(255, 255, 255, 0.649);
    position: absolute;
    font-size: 78%;
    width: 25%;
    margin-left: 40%;
    border-left: 1px solid rgba(255, 255, 255, 0.488);
    padding-left: 2%;
    margin-top: -11%;
}

.Post
{
    margin-left: 23vh;
}