html{
    font-size: inherit;
    background-color: rgb(37, 37, 37);
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: transparent;
}

.PerfilPage{
    width: 80%;
    margin-left: 5%;
    background-color: black;
    border-radius: 50px;
    border: none;
    transition: 500ms;
}

.PerfilPage:hover{
    box-shadow: 0 0 40px rgb(0, 0, 0);
    border-radius: 50px;
    border: none;
    transition: 500ms;
}

.PerfilPage .PerfilPortada img{
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.PerfilPage .PerfilPhoto img{
    position: absolute;
    margin-top: -22.6vh;
    margin-left: 1%;
    width: 20vh;
    height: 20vh;
    border-radius: 35%;
    border: 3px solid rgb(255, 255, 255);
}

.PerfilPage .PerfilPortada button{
    position:absolute;
    background-color: rgb(37, 37, 37);
    color: #fff;
    margin-left: -15vh;
    margin-top: 15vh;
    border-radius: 10px;
    z-index: 1;
    transition: 500ms;
}

.PerfilPage .PerfilPortada button:hover{
    box-shadow: 0 0 40px rgb(255, 255, 255);
    transition: 500ms;
}

.PerfilPage .PerfilName h1{
    position: absolute;
    font-size: 10vh;
    margin-top: -18vh;
    margin-left: 25vh;
    color: rgb(0, 0, 0);
    text-shadow: 1px  0px 0px rgb(255, 255, 255),
               0px  1px 0px white,
              -1px  0px 0px white,
               0px -1px 0px white;
}

.PerfilDescription h2{
    color: rgba(255, 255, 255, 0.649);
    position: absolute;
    font-size: 88%;
    width: 25%;
    margin-left: 40%;
    border-left: 1px solid rgba(255, 255, 255, 0.488);
    padding-left: 2%;
    margin-top: -11%;
}

.post-container {
    width: 80%;
    right: 5%;
    margin: 20px auto;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);  
    background-color: rgb(37, 37, 37);
    border: 1px solid rgba(255, 255, 255, 0.194);
    cursor: pointer;
    transition: background-color 0.3s;
}

.post-container:hover{
    background-color: rgb(64, 64, 64);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.user-info {
    color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    left: 3%;
    top: 2%;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-options {
    width: 30px;
    left: 93%;
    top: 10px;
    height: 30px;
    border-radius: 50%;
    background-color: #007bff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.action-btn {
    padding: 8px 12px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-btn:hover {
    background-color: #888888;
}

.post-content {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}

.SubTitle{
    color: #fff;

    text-align: center;
    font-size: 1em;
    margin-top: -2%;
}

.description{
    color: #fff;
    text-align: start;
    margin: 15px 35px 20px;
}

.image-container {
    max-width: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    display: block;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    justify-content: start;
    align-items: center;
    padding: 15px;
}

.post-actions button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 2%;
    transition: transform 0.3s ease;
}

.post-actions button:hover {
    background-color: #0059b7;
    transform: scale(1.2);
}
