@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --main-color: #3c363c;
    --secondary-color: #F4F4F4;

    --select-gradiant: linear-gradient(90deg, rgba(255, 255, 255, 0.34) 0%, transparent 100%);

    --positive-spend: rgb(49, 188, 95);
    --negative-spend: rgb(255, 51, 122);

    --hightlight-words: #FFB6C1;

    --font-bold: 'Poppins', sans-serif;

}

body{
    font-family: var(--font-bold)
}

input[type="text"]{
    font-family: var(--font-bold);
}

input[type="number"]{
    font-family: var(--font-bold);
}

input[type="file"]{
    font-family: var(--font-bold);
}

.btn-check:checked + label::before{
    content: "+ ";
}



select{
    font-family: var(--font-bold);
}

textarea{
    font-family: var(--font-bold); 
}