body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #242839;
  font-family: Arial, sans-serif;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 90vh !important;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 30px black;
}

.image-container {
  flex: 1;
  background-image: url("../images/Green_Fondo.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.image-container h1 {
  position: absolute;
  width: 90%;
  height: auto;
  top: 40%;
  left: 10vh;
  color: #fff;
}

.logo {
  display: flex;
  position: absolute;
  margin: auto;
  top: 10%;
  max-width: 100px;
  max-height: 100px;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  position: relative;
}

.form-container h2 {
  position: absolute;
  font-size: 35px;
  top: 25%;
}

.form-container h3 {
  left: 30%;
  top: 63%;
  margin-left: 0%;
  font-size: 15px;
  position: absolute;
}

.password {
  top: 59%;
  font-size: 90%;
  position: absolute;
  text-decoration: none;
  color: #959595;
}

.password:hover {
  color: #000000;
  text-decoration: underline;
}

.Register {
  left: 57%;
  top: 65%;
  font-size: 15px;
  position: absolute;
  text-decoration: none;
  color: #959595;
}

.Register:hover {
  color: #000000;
  text-decoration: underline;
}

.visit {
  left: 40%;
  top: 70%;
  font-size: 15px;
  position: absolute;
  text-decoration: none;
  color: #959595;
}

.visit:hover {
  color: #9c0000;
  text-decoration: underline;
}

form {
  max-width: 50%;
  margin: 0 auto;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

input[type="text"]:hover,
input[type="password"]:hover {
  transform: scale(1.1);
}

input[type="submit"] {
  margin-left: 56%;
  width: 45%;
  padding: 10px;
  padding-right: 20px;
  font-size: 15px;
  background-color: #5cb1a2;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #417f74;
  transform: scale(1.1);
}

.code-opcion{
    position: relative;
    padding-top: 5%;
    margin-top: -5%;
    left: 11%;
}

input[type="code"] {
    text-align: center;
    position: relative;
    left: 10%;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease;
}


/* FOOTERS */
footer {
  width: 90%;
  background-color: #fff;
  color: #000000;
  padding: 20px 0;
  border-radius: 20px;
  margin-bottom: 2.5%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-container div {
  flex: 1;
  margin: 10px;
}

.footer-about,
.footer-contact,
.footer-links,
.footer-social {
  max-width: 250px;
}

.footer-about p,
.footer-contact p,
.footer-links ul,
.footer-social ul {
  margin: 0;
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-links a,
.footer-social a {
  color: #000000;
  text-decoration: none;
}

.footer-links a:hover,
.footer-social a:hover {
  text-decoration: underline;
}

.social-icons {
  display: wrap;
  gap: 10px;
}

.footer-bottom {
  margin: auto;
  width: 90%;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #0000007a;
}
