body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #242839;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.image-container {
    flex: 1;
    background-image: url('../images/Green_Fondo.jpg');
    background-size: cover;
    background-position: center;
}

.image-container h1{
    position: absolute;
    width: 40%;
    height: auto;
    top: 40%;
    left: 10%;
    color: #fff;
}

.logo{
    position: absolute;
    top: 10%;
    left: 69%;
    max-width: 100px;
    max-height: 100px;
}
.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.form-container h2{
    position: absolute;
    font-size: 35px;
    top: 25%;
}

.form-container h3{
    left: 66%;
    top: 61%;
    margin-left: 0%;
    font-size: 15px;
    position: absolute;
}

.password{
    top: 56%;
    font-size: 90%;
    position: absolute;
    text-decoration: none;
    color:#959595;
}

.password:hover{
    color:#000000;
    text-decoration: underline;
}

.Register{
    left: 69%;
    top: 66%;
    font-size: 15px;
    position: absolute;
    text-decoration: none;
    color:#959595;
}

.Register:hover{
    color:#000000;
    text-decoration: underline;
}

.visit{
    left: 66%;
    top: 75%;
    font-size: 15px;
    position: absolute;
    text-decoration: none;
    color:#959595;
}

.visit:hover{
    color:#9c0000;
    text-decoration: underline;
}

form {
    max-width: 50%;
    margin: 0 auto;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

input[type="text"]:hover,
input[type="password"]:hover {
    transform: scale(1.1);
}

input[type="submit"] {
    margin-top: 3%;
    margin-left: 62%;
    width: 45%;
    padding: 10px;
    padding-right: 20px;
    font-size: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

